* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: var(--primary);
	color: var(--dark);
	padding: 20px 30px 0 30px;
	line-height: 1.4;
}

.btn {
	background: transparent;
	color: var(--dark);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.4s;
}

.btn-dark {
	background: var(--dark);
	color: var(--light);
}

.btn-light {
	background: transparent;
	color: var(--light);
	padding: 0.8rem 1.3rem;
	text-align: center;
	text-decoration: none;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.4s;
}

.btn-light:hover {
	background: var(--dark);
	color: var(--light);
	border: 1px solid var(--dark);
}

.btn:hover {
	background: var(--dark);
	color: var(--light);
}

.card {
	display: inline-block;
	text-align: center;
	line-height: 1.5rem;
	box-shadow: var(--shadow);
}

.card .card-body {
	background: var(--primary);
	padding: 15px;
	border-radius: 3px;
}

span {
	display: block;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
}

/* navigation */
nav ul {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	list-style: none;
}

nav a {
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--dark);
	text-transform: uppercase;
	font-size: 19px;
	box-shadow: var(--shadow);
	border-radius: 3px;
	transition: 0.4s;
}

nav a:hover {
	background: var(--dark);
	color: var(--light);
}

/* top container  */
.top-container {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		"showcase showcase showcase membership"
		"showcase showcase showcase pro-membership";
}

.showcase {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./top_container.jpg");
	background-size: cover;
	background-position: center;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 2rem;
	color: var(--light);
	padding: 20px;
	grid-area: showcase;
}

.membership {
	grid-area: membership;
}
.pro-membership {
	grid-area: pro-membership;
}

/* boxes */
.boxes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

.boxes h3 {
	font-size: 1.7rem;
	margin: 10px 0;
	text-transform: capitalize;
}

.boxes p {
	color: rgb(131, 131, 131);
}

/* business section */

section.business {
	background: var(--primary);
	box-shadow: var(--shadow);
	padding: 30px;
}

section.business .content-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}

section.business .content-container .content h2 {
	text-transform: capitalize;
	margin: 20px 0;
}

section.business .content-container .content p {
	margin: 20px 0;
}

/* portfolio */
.portfolio {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.portfolio img {
	width: 100%;
	height: 150px;
	box-shadow: var(--shadow);
}

/* footer  */
.footer {
	background: var(--primary);
	color: var(--dark);
	text-transform: capitalize;
	text-align: left;
	padding: 50px;
	border-radius: 3px;
}

/* media query for responsive */
@media (max-width: 768px) {
	nav ul {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(1, 1fr);
	}
	.top-container {
		display: grid;
		grid-gap: 20px;
		grid-template-areas:
			"showcase showcase showcase showcase"
			"membership membership pro-membership pro-membership";
	}
	.top-container .card-body {
		display: flex;
		justify-items: center;
		align-items: center;
		flex-direction: column;
	}
}
@media (max-width: 400px) {
	body {
		padding: 10px .5rem 0 .1rem;
	}
	nav ul {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(1, 1fr);
	}
	.top-container {
		display: grid;
		grid-gap: 20px;
		grid-template-areas:
			"showcase showcase showcase showcase"
			"membership membership pro-membership pro-membership";
	}
	.top-container .card-body {
		display: flex;
		justify-items: center;
		align-items: center;
		flex-direction: column;
	}
}
